BOT_TOKEN=Your bot token
FLASK_SECRET_KEY=Your flask secret key
BASE_URL=for example 'myurl.com'
DATABASE_URL=postgresql+asyncpg://name:pass@localhost:port/database
FASTAPI_URL=default value = http://127.0.0.1:8000
FLASK_DATABASE_URL=postgresql://name:pass@localhost:port/database
INTERNAL_API_KEY=your api key
REDIS_HOST=127.0.0.1 or localhost
REDIS_PORT=your port
REDIS_DB=your db number